@import "tailwindcss";

@theme {
  --color-primary-50: #ecfcfd;
  --color-primary-75: #dafafa;
  --color-primary-100: #c7f7f8;
  --color-primary-150: #b4f5f5;
  --color-primary-200: #a2f2f3;
  --color-primary-250: #8feff1;
  --color-primary-300: #7cedee;
  --color-primary-350: #69eaec;
  --color-primary-400: #57e8e9;
  --color-primary-500: #44e5e7;
  --color-primary-600: #3dced0;
  --color-primary-700: #36b7b9;
  --color-primary-800: #30a0a2;
  --color-primary-900: #29898b;
  --color-primary-1000: #227374;
  --color-primary-1100: #1b5c5c;
  --color-primary-1200: #144545;
  --color-primary-1300: #0e2e2e;
  --color-primary-1400: #071717;
  --color-primary-1500: #061212;
}
